5
Tuan Bro
passTuanBro
Ini bio lho ga
081123
Pahing
Privat
R * R * R * R * R *
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Tuan Adi
Adi

08124

Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Tuan Budi
Budi



Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
AAAA
AAAA
Ini bio gasih
081123124534695684756198
Pahing
Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Tuan KUUU
kuuu



Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
1 0 1 1 0
0 1 0 0 1
1 0 1 0 0
1 0 0 1 1
0 1 0 1 1
3
0 1 2
2 1 1
3 1 2
